.Rprofile
.Rproj.user
.Rhistory
.RData
.Ruserdata
InterVA4-warnings.txt
InterVA5-warnings.txt
InSilicoVA-2012-warnings.txt
InSilicoVA-2016-warnings.txt
plotAdult*.pdf
plotAgeDist.pdf
plotAll*.pdf
plotFemale*.pdf
plotMale*.pdf
plotNeonate*.pdf
plotChild*.pdf
plotAdult*.pdf
packrat/lib*/
